[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "aggTrees"]
	path = aggTrees
	url = https://github.com/riccardo-df/aggtrees
	shallow = true
	registered = true
[submodule "morf"]
	path = morf
	url = https://github.com/riccardo-df/morf
	shallow = true
	registered = true
