[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aggTrees"]
	path = aggTrees
	url = https://github.com/riccardo-df/aggtrees
[submodule "ocf"]
	path = ocf
	url = https://github.com/riccardo-df/ocf
